.FilesDragAndDrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.area__size_sm {
}
.area__size_lg {
}

.FilesDragAndDrop__area {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  font-size: 24px;
  color: #555555;
  border: 2px #c3c3c3 dashed;
  border-radius: 12px;
}

.area__icon {
  font-size: 64px;
  margin-top: 20px;
}

.drag__hover {
  background-color: #e7e7e7;
  color: #7f8e99;
  z-index: 99;
}
